node_modules/
data/
.DS_Store
dist
*.log
coverage
.idea
target/
.java-version
datatools.iml
datatools-manager.iml
tmp/
deploy/

# Configurations
configurations/*
!configurations/default

# Secret config files
.env
env.yml
env.yml-original
server.yml
